
/*========= Boton historico ===========*/

  .boton{
    display:inline-block;
    margin-bottom:0;
    font-weight:400;
    text-align:center;
    vertical-align:middle;
    cursor:pointer;
    background-image:none;
    border:1px solid transparent;
    white-space:nowrap;
    padding:6px 12px;
    font-size:14px;
    line-height:1.42857143;
    border-radius:4px;
    content:"";
    text-decoration:none;
  }

  .boton:focus,.boton:active:focus,.boton.active:focus{
    outline:thin dotted;
    outline:5px auto -webkit-focus-ring-color;
    outline-offset:-2px
  }

  .boton:active,.boton.active{
    outline:0;
    background-image:none;
    -webkit-box-shadow:inset 0 3px 5px rgba(0,0,0,.125);
    box-shadow:inset 0 3px 5px rgba(0,0,0,.125)
  }

/*boton-comic-primary*/
.boton-historico {
    color: #FFF;
    font-weight: bold;
    background:rgba(105, 215, 56, 1);     
    -webkit-box-shadow:0px 1px 0px #D4D8DA inset, -2px 3px 0px #2E9B2B;;
    -moz-box-shadow:0px 1px 0px #D4D8DA inset, -2px 3px 0px #2E9B2B;;
    -o-box-shadow:0px 1px 0px #D4D8DA inset, -2px 3px 0px #2E9B2B;;
    box-shadow:0px 1px 0px #D4D8DA inset, -2px 3px 0px #2E9B2B;;
}



  .boton-historico:active {
    color:rgba(73, 146, 40, 1);
    background:rgba(105, 215, 56, 1);
    -webkit-box-shadow: inset 0px 1px 0px rgba(98, 176, 206, 1), inset 0px -1px 0px rgb(43, 75, 111);
    -moz-box-shadow: inset 0px 1px 0px rgba(98, 176, 206, 1), inset 0px -1px 0px rgb(43, 75, 111);
    -o-box-shadow: inset 0px 1px 0px rgba(98, 176, 206, 1), inset 0px -1px 0px rgb(43, 75, 111);
    box-shadow: inset 0px 1px 0px rgba(98, 176, 206, 1), inset 0px -1px 0px rgb(43, 75, 111);
  }

