/*  
Theme Name: Scroller Theme
Description: Responsive WordPress theme
Theme URI: http://themnific.com
Author: Dannci & Themnific
Author URI: http://themnific.com
Version: 1.7
Tags: dark, light, white, black, gray, two-columns, right-sidebar, flexible-width, custom-background, custom-colors, custom-header, custom-menu, editor-style, featured-images, full-width-template, microformats, post-formats, rtl-language-support, sticky-post, theme-options, translation-ready
License: GNU/GPL Version 2 or later. 
License URI: http://www.gnu.org/licenses/gpl.html 
Copyright: (c) 2013 Dannci.
 
*/


/* CSS Resets */

html,body,div,span,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,address,cite,code,del,dfn,em,img,ins,q,small,strong,sub,sup,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td{border:0;margin:0;padding:0}article,aside,figure,figure img,figcaption,hgroup,footer,header,nav,section,video,object{display:block}a img{border:0}figure{position:relative}figure img{width:100%}

html, body {
    height: 100%;
 margin:0; padding:0;
}

ol, ul { list-style:none; margin:0; }

ul.children{ margin-left:15px;}

ul.children li:last-child{ padding: 0 0 0 0 !important;}

a,a:hover{ text-decoration:none; 
}

a,.nav li a{
	-moz-transition: all 0.2s ease-in;
	-webkit-transition: all 0.2s ease-in;
	-o-transition: all 0.2s ease-in; 
	transition: all 0.2s ease-in;
	-ms-transition: all 0.2s ease-in;
}

small{ line-height:11pt;}

.small{ font-size:85% !important;}

.hrline,.hrlineB{
	clear:both;
	width: 100%;
	margin:0 auto;
	padding:0;
	height:2px;
	position:relative;
	background: url(../images/line-h.png) 0 0 repeat-x;
}

.hrlineB{
	margin-bottom:30px !important;
}

.hrline span,.hrlineB span{
	width:30px;
	background:#999;
	height:1px;
	position: absolute;
	top:0;
	left:0;
}

.sserif{text-transform:uppercase; margin:5px 0 8px 0;}
	
.fl{ float:left !important;}
.fr{ float:right !important;}
.bottomzero{ padding-bottom:0 !important}

i.icon-play-circle,
i.fa-clock-o{ padding-left:1px !important;}

.rad,a#navtrigger{-moz-border-radius: 3px;-khtml-border-radius: 3px;-webkit-border-radius: 3px;border-radius: 3px;}
.rad_big,.main{-moz-border-radius: 6px;-khtml-border-radius: 6px;-webkit-border-radius: 6px;border-radius: 6px;}

.boxshadow,.scroll ul.sub-menu,.navi .sub-menu,.navi li ul.children{
	-moz-box-shadow:  0 1px 2px rgba(0, 0, 0, 0.3);
	-webkit-box-shadow:  0 1px 2px rgba(0, 0, 0, 0.3);
	box-shadow:  0 1px 2px rgba(0, 0, 0, 0.3);
}

.boxshadow2{
	-moz-box-shadow:  0 1px 1px rgba(0, 0, 0, 0.2);
	-webkit-box-shadow:  0 1px 1px rgba(0, 0, 0, 0.2);
	box-shadow:  0 1px 1px rgba(0, 0, 0, 0.2);
}

.shadow-inset{
	-moz-box-shadow:  0px 0px 10px rgba(0, 0, 0, .15) inset;
	-webkit-box-shadow:  0px 0px 10px rgba(0, 0, 0, .15) inset;
	box-shadow: 0px 0px 10px rgba(0, 0, 0, .15) inset;
}

.shadow-inset2{
	-moz-box-shadow:  0px 0px 45px rgba(0, 0, 0, 1) inset;
	-webkit-box-shadow:  0px 0px 45px rgba(0, 0, 0, 1) inset;
	box-shadow: 0px 0px 45px rgba(0, 0, 0, 1) inset;
}

.gradient,.scroll ul.sub-menu,.navi ul.sub-menu,.navi li ul.children,#servicesbox h3 i,.logo_bottom,ul.staff_social li a{
    background-image: -moz-linear-gradient(rgba(0,0,0,0), rgba(0,0,0,0.05));
    background-image: -webkit-linear-gradient-webkit-gradient(linear, 0% 0%, 0% 100%, from(rgba(0, 0, 0, 0)), to(rgba(0, 0, 0, 0.05)));
    background-image: -webkit-linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.05));
    background-image: -o-linear-gradient(rgba(0, 0, 0, 0)), to(rgba(0, 0, 0, 0.05));
    background-image: -ms-linear-gradient(rgba(0, 0, 0, 0)), to(rgba(0, 0, 0, 0.05));
    background-image: no-repeat;
}

.slant{ font-weight:normal; font-style:italic;}



.lower{ text-transform: lowercase !important}
.italic{ font-style:italic !important}
.fat{ font-weight:bold !important}



h1{
	margin:15px 0;
	padding:0;
	letter-spacing:-0.11em 
	}
	
h2{
	margin:15px 0;
	padding:0;
	letter-spacing:-0.04em;
	}
	
h2.leading{
	margin:0 0 15px 0;
	padding:0 0 8px 0;
	background:url(images/line-h-l.png) bottom repeat-x !important;
	}
	
h2.heading{
	margin:0 0 20px 0;
	padding:0;
	letter-spacing:-0.06em;
	}
	
#sidebar h2{
	padding-top:0;
	padding-bottom:15px;
	margin:0;
	font-weight:900;
	font-size:20px;
	text-transform:uppercase;
	overflow:hidden;
	border-bottom:1px solid #ddd;
	margin-bottom:15px;
}


h3{
	margin:15px 0 5px 0;
	padding:0;
	letter-spacing:-0.025em;
	}	

h3.leading{
	margin:0 0 10px 0;
	padding:0;
	}	
	
h4{
	margin:12px 0 5px 0;
	padding:0;
	}	
	
h5,h6{
	margin:5px 0;
	padding:0;
	}	
	
h3 span span{ opacity:.6; padding:0 !important;}

h3.title{ padding:0 0 11px 0; margin: 0; font-size:14pt; text-shadow:none;}

h4.leading{
	margin:-5px 0 10px 0;
	}



/* @header
********************************************************************************************
********************************************************************************************/

.topnav{ overflow:hidden;}

#header{
	width:100%;
	padding:0;
	position: fixed !important;
	overflow: visible;
	top: 5.6%;
	left: 0;
	margin:0;
	z-index: 9999;
	}


#header h1{
	margin:10px 0;
	float:left;
	line-height:.9;
	font-size:35px;
	text-transform:uppercase;
	letter-spacing:-3px;
	display:block;
	height:0;
	opacity:0;

	-webkit-transition: all 1.1s ease;
    -moz-transition: all 1.1s ease;
    -o-transition: all 1.1s ease;
    transition: all 1.1s ease;
}


#header h1.showme,
#header h1.classic{
	display: block !important;
    opacity: 1;
	height:auto;
}

#header h1.hideme{display: none !important;}

#header img{ float:left; margin:0; height:29px;}

#bannersuscerte{
		width:100%; 
		height: 5.6%;
		background-color:#ffffff;
		padding:0;
		position: fixed !important;
		overflow: visible;
		top: 0;
		left: 0;
		margin:0;
		z-index: 9999;
}

.bigmenu h1{ margin:17px 0 !important;}

.bigmenu h1 img{height:34px !important;}

.bigmenu .scroll,
.bigmenu .navi{padding:18px 0 20px 0;right: 0;}

.bigmenu .scroll li,
.bigmenu .navi li{ left:0;}

.bigmenu>.scroll>li>a,
.bigmenu>.navi>li>a{ padding: 10px 12px 7px 12px;}


#header_bottom{ position:absolute; width:33%; left:0; bottom:0; overflow:hidden;z-index:9}

.logo_bottom{ position:relative; right:0; top:0; height:100%;overflow:hidden; background:#fff; padding:0 0 0 0;opacity:1}

.logo_bottom img{ float:right; margin:20px 40px 0 0; overflow:hidden;}

a#logo_res{ display:none; margin:10px auto; width:90%;}

/* @navigations - home
********************************************************************************************
********************************************************************************************/

#navigation{ width:100%; position:relative; z-index:99;}

#navigation h1{ position:absolute; top:0; left:0;}

ul.scroll,
ul.navi{list-style: none; position: relative; float: right; display: block; right: 50%; margin:0 !important; overflow:visible;

	-webkit-transition: all 1.1s ease;
    -moz-transition: all 1.1s ease;
    -o-transition: all 1.1s ease;
    transition: all 1.1s ease;
	}

ul.scroll li,
ul.navi li{position: relative; float: left; display: block; left: 50%;
	-webkit-transition: all 1.1s ease;
    -moz-transition: all 1.1s ease;
    -o-transition: all 1.1s ease;
    transition: all 1.1s ease;
}

ul.nav_classic{right: 0;

	-webkit-transition: all 1.1s ease;
    -moz-transition: all 1.1s ease;
    -o-transition: all 1.1s ease;
    transition: all 1.1s ease;}

ul.nav_classic li{left: 0;
	-webkit-transition: all 1.1s ease;
    -moz-transition: all 1.1s ease;
    -o-transition: all 1.1s ease;
    transition: all 1.1s ease;
}

.scroll .current a {
}

.scroll,
.navi{
	display:inline-block;
	list-style:none;
}

.scroll li,
.navi li{
	float:left;
	position:relative;
}
	
.scroll li a,
.navi li a{
	display: block;	
	font-weight: ;
	padding:20px 12px 17px 12px;
	text-decoration: none;
	border-bottom:none;
	border-right:1px solid #fff;
}

.scroll li:first-child a,
.navi li:first-child a{
	border-left:1px solid #fff;
}	
	
.scroll li a:hover,
.navi li a:hover{
	color: #333;
}
	
.scroll ul li.active a{}

.scroll li ul.sub-menu,
.navi li ul.sub-menu,
.navi li ul.children{ display:none;}

.scroll li:hover ul.sub-menu,
.navi li:hover ul.sub-menu,
.navi li:hover ul.children{ display:block;}  

.scroll ul.sub-menu,
.navi .sub-menu,
.navi li ul.children{
	position:absolute; left:50%; margin-left:-60px; width:120px;padding:5px 0;
-moz-border-radius:0 0 3px 3px;-khtml-border-radius:0 0 3px 3px;-webkit-border-radius:0 0 3px 3px;border-radius:0 0 3px 3px;
} 

ul.sub-menu li,
.navi .sub-menu li,
.navi li ul.children li{ float:none; position:relative; width:100%; left:0; }

.scroll ul.sub-menu li a,
.navi ul.sub-menu li a,
.navi li ul.children li a{ padding:16px 0 16px 0 !important; margin:0 15%; text-align:center; background:url(../images/line-h.png) top repeat-x; font-size:10px !important; border:none !important;}

ul.sub-menu li:first-child a,
.navi li ul.children li:first-child a { background:none}

li.scrollparent>a{ padding-left:25px !important;}
li.scrollparent {
	background: url(images/arrow-superfish-inv.png) 8px 53% no-repeat;}



#portfolio-filter{ text-align:center; padding:20px 0 20px 0;}

#portfolio-filter ul{ overflow:hidden; float:left; display:inline-block;}

#portfolio-filter ul li{float:left; margin:8px 10px; padding:1px; display: inline; line-height:1; }

#portfolio-filter ul li a{ margin:0; padding:5px; display: inline;}


/* @mobile menu 
********************************************************************************************
********************************************************************************************/

a#navtrigger{
text-indent:-9999px;
padding:8px;
height:30px;
width:30px;
background-image: url(../images/icons/zoom.png);
background-position:50% 50%;
background-repeat:no-repeat;
margin:0 auto 20px auto;
display:none;
}

a#navtrigger:hover{
background-image: url(../images/icons/zoom.png);
}

a#navtrigger.active{
background-image: url(../images/icons/minus.png);
}



.showtrig{ display: block !important; float:none; overflow:hidden;}

.hidenav{ display:none !important;}

.shownav{ display: inline-block !important;}




/* @core
********************************************************************************************
********************************************************************************************/
#main{ overflow:hidden; position:relative; z-index:2 !important;}

.section,
.section_template{ overflow:hidden; padding:0 0; position:relative; z-index:2; background-attachment: fixed; background-position:50% 0; background-repeat:no-repeat;}

.section_template{ background-color:#333;}

.section .container{ overflow:hidden; padding:80px 4% 80px 4%;}

.section_template .container{ overflow:hidden; padding:155px 2% 75px 2%;}

#contact .container{padding:80px 2% 20px 2%;}

.section>iframe{ float:left; margin:0; padding:0; width:100%;}


.section .container h2,
.section_template .container h2 { margin:15px 0 5px 0;padding:0 0 15px 0;letter-spacing:-0.11em !important;line-height:.8 !important;  }

.section>.container>h2.head {float:left; margin:25px 5% 0 0; width:45%; }

.section>.container>h2.head:after {
    content: ".";
}

.section>.container>h3 {padding:0 0 0 0; margin:5px 0 20px 0; opacity:1; line-height:1;}

.section>.container>p.section_text {padding:25px 0 30px 40px; min-height:75px;float:left; width:45%;
	background: url(../images/line-v.png) left repeat-y;}

#content,#sidebar{ margin-top:0; margin-bottom:0;}

#sidebar{ background:none !important; margin-left:3.8% !important; width:28%;margin-right:0 !important;}

#foliocontent,#foliosidebar{ margin-top:0;}

#foliosidebar{ width:27%; float:right; margin-left:4%;}

#foliocontent{ width:69%; float:left;}


/* @post styles
********************************************************************************************
********************************************************************************************/


ul.medpost{ padding:0 0 0 0 !important; margin:0 0 0 0;}
	
ul.medpost>li{ 
	margin-bottom:45px  !important; overflow:hidden; position:relative;}

ul.medpost li .meta,
.singlepost .meta{ margin:8px 0 !important; font-weight:bold;}

ul.medpost li iframe,
.singlepost iframe{ width:100%;}
	
ul.medpost li .mainbutton{ margin-top:18px; font-size:12px; font-weight:bold;}

h2.singletitle{ margin:20px 0; letter-spacing: -0.09em !important; line-height:1;}

.entry{margin:15px 0;}

.entry>ul{margin:0 0 25px 20px;}

.entry>ul>li{ list-style-position:inside; list-style:circle;}

.entry .contact-form{ overflow:hidden; float:none; clear:both; padding:0 0 30px 0;}

.entry ol{margin:0 0 25px 20px;}

.entry ol li{ list-style: decimal; list-style-position:inside;}

.entry ol li ol li{ list-style: upper-latin;list-style-position:inside;}

.entry p a:hover{ background:url(../images/transparent-light.png);}

.entry p{margin:0 0 10px 0;}

.entryfull{margin:0 0 25px 0; overflow:hidden}

.entryfull p{margin:0 0 10px 0;}

.meta,.meta_alt{
	opacity:.6;
	font-size:12px;
	line-height:2;
}

.meta i{ margin:0 3px 0 0;}

.buttons{ overflow:hidden; padding:0 0 0 0; margin:15px 0;}
.buttons iframe{ overflow:hidden; margin:0 0 0 0 !important}
.buttons a{ margin-top:-5px !important; float:left;}



.postinfo{
	overflow:hidden;
	margin:30px 0 -1px 0;
	padding:8px 15px;
	border:1px solid #ddd;
	font-size:11px;
	font-style:italic;
}

.postinfo p{
	margin:0 0 0 0;
}

.postauthor { overflow:hidden; margin:0 0 20px 0; padding:20px 25px 25px 25px;
	border:1px solid #ddd;}

.postauthor img{ float:left; margin:10px 25px 0 0;}

.authordesc{ margin-top:10px;}

.authorarchive{margin:0 25px 40px 0;}

.authorarchive img{ float:left; margin:8px 25px 10px 0;}

ul.related{ float:left; width:105%; overflow: hidden; margin:5px 0 20px 0;}

.related li{ position:relative; float:left; width:46%; margin:0 3.2% 25px 0;overflow: hidden; position:relative; height:120px; padding:0;}

.related li h2{ font-size:10.5pt; line-height:14pt; margin:0; padding:0 10%; width:80%; text-align:center; background:none; letter-spacing:0; position:absolute; top:30%; left:0; }

.related li a img { float:left; margin:0 20px 0 0; position:relative; z-index:1;}

.related li .meta {margin:0 !important; width:auto; float:left;}

.archivecontent{padding:5px 10% 0 6% !important; min-height:340px;}

.archivepost {margin:20px 0 20px 0;}

.archivepost li{padding:0 0 0 0; overflow:hidden; position:relative; margin:30px 0 0 0;}

.archivepost li h3{ font-size:13pt; margin:15px 0 5px 0 !important;line-height:1.4;}

.archivepost img{ float:left; margin:0 20px 0px 0;}

.archivepost .meta{ margin:0 0 5px 0; padding:0; width:auto;}

.archivepost p{ font-size:90%; line-height:2}



/* @portfolio single 
********************************************************************************************
********************************************************************************************/

h2.itemtitle{ margin-bottom:30px; letter-spacing: -0.11em !important; line-height:.8; width:69%; float:left;}

.entry_item{margin-top:15px;}

.nav_item{ overflow:hidden; float:right; margin:20px 0 0 0;}

.nav_item a{ font-size:26px; margin:0 0 0 10px; opacity:.6}

.nav_item i.icon-th{}

#foliosidebar{ margin-top:-15px !important;}

#foliosidebar .meta{ margin: 0 0 0 0; overflow:hidden;}

#foliosidebar .hrline{margin:15px 0;}

#foliosidebar i{margin:0 4px 0 0;}

#foliosidebar .hrlineB{margin:0 0 15px 0;}

#foliosidebar a.tmnf-sc-button{ margin:15px 2px 15px 2px; !important;}

#foliocontent iframe{ width:100%; overflow:hidden;}

/* @formats 
********************************************************************************************
********************************************************************************************/

ul.medpost li.format-image h2,
ul.medpost li.format-link h2 { font-size:25px !important;}

.imageformat{overflow:hidden;}

.imageformat img{ float:left; overflow:hidden;}

ul.medpost li.format-quote{text-shadow:none; margin-top:1px; margin-left:1px; margin-right:1px; margin-bottom:50px !important;padding:60px 55px 40px 55px;text-align:center;font-size:16pt; line-height:1.5;
	}

p.quuote_author{ font-size:10pt}



/* @comments 
********************************************************************************************
********************************************************************************************/

#comments {
	clear: both;
}
#comments .navigation {
	padding:20px 0;
	clear: both;
	overflow:hidden;
}
h3#comments-title,
h3#reply-title {
	padding:5px 0 10px 0;
}


.commentlist {
	list-style: none;
	margin:30px 0 0 0 !important;
}
.commentlist li.comment {
	background: url(../images/line-h-l.png) bottom repeat-x;
	line-height: 24px;
	margin: 0 0 25px 0;
	padding: 0 0 0 80px;
	position: relative;
	list-style:none;
}

ul.children li.comment:last-child{
	padding: 0 0 0 80px !important;}

.commentlist li:last-child {
	border-bottom: none;
	margin-bottom: 0;
}
#comments .comment-body ul,
#comments .comment-body ol {
	margin-bottom: 18px;
}
#comments .comment-body p:last-child {
	margin-bottom: 6px;
}
#comments .comment-body blockquote p:last-child {
	margin-bottom: 24px;
}
.commentlist ol {
	list-style: decimal;
}
.commentlist .avatar {
	position: absolute;
	top: 8px;
	left: 0;
}
.comment-author {
}
.comment-author cite {
	color: #000;
	font-style: normal;
	font-weight: bold;
	font-size:14px; 
	text-transform:uppercase;
}
.comment-author .says {
	font-style: italic;
	display:none;
}
.comment-meta {
	margin: 0 0 20px 0;
}
.comment-meta a:link,
.comment-meta a:visited {
	color: #888;
	text-decoration: none;
}
.comment-meta a:active,
.comment-meta a:hover {
	color: #ff4b33;
}
.commentlist .even {
}
.commentlist .bypostauthor {
}
.reply {
	font-size: 12px;
	padding: 0 0 24px 0;
	font-weight:bold;
}
.reply a,
a.comment-edit-link {
	color: #888;
}
.reply a:hover,
a.comment-edit-link:hover {
	color: #ff4b33;
}
.commentlist .children {
	list-style: none;
	margin: 0;
}
.commentlist .children li {
	list-style: none;
	border: none;
	margin: 0;
}
.nopassword,
.nocomments {
	display: none;
}
#comments .pingback {
	border-bottom: 1px solid #e7e7e7;
	margin-bottom: 18px;
	padding-bottom: 18px;
}
.commentlist li.comment+li.pingback {
	margin-top: -6px;
}
#comments .pingback p {
	color: #888;
	display: block;
	font-size: 12px;
	line-height: 18px;
	margin: 0;
}
#comments .pingback .url {
	font-size: 13px;
	font-style: italic;
}

/* Comments form */
input[type=submit] { }

#respond {
	margin:0;
	overflow: hidden;
	position: relative;
}
#respond p {
	margin: 0;
}

.comment-form-author,
.comment-form-email,
.comment-form-url{ width:30.3%; float:left; margin-right:25px !important;}
.comment-form-url{margin-right:0 !important;}

input#author,
input#email,
input#url{ width:89% !important; margin-bottom:20px !important;}

#respond .comment-notes {
	margin-bottom: 1em;
	opacity:.7;
	font-size:85%;
}
.form-allowed-tags {
display: none;
}
.children #respond {
	margin: 0 48px 0 0;
}
#comments-list #respond {
	margin:0;
}
#comments-list ul #respond {
	margin: 0;
}
#cancel-comment-reply-link {
	font-size: 12px;
	font-weight: normal;
	line-height: 18px;
	margin-left:10px;
}
#respond .required {
	color: #ff4b33;
	font-weight: bold;
	margin-left:3px;
}
#respond label {
	color: #888;
	font-size: 12px;
}
#respond input {
	margin:0;
	width: 96%;
}
#respond textarea {
	width: 95%;
}
#respond .form-allowed-tags {
display: none;
}
#respond .form-allowed-tags code {
display: none;
}
#respond .form-submit {
	margin: 12px 0;
}
#respond .form-submit input {
	font-size: 14px;
	width: auto;
	margin:20px 1px 20px 1px;
}


/* @forms 
********************************************************************************************
********************************************************************************************/

input, textarea,input checkbox,input radio,select, file{
	border: 1px solid #eee;
	padding:10px;
	margin:0 10px 0 0;
	float:left;
	font-size:11px !important;
	line-height:1 !important;
	}


form#contactform fieldset input{
	float:none;
	width:320px;
	margin-top:30px;}
	
form#contactform fieldset textarea{
	margin-top:30px;
	width:430px;
	border: 1px solid #eee;
	background:#fff;}
	
form#contactform fieldset input#submit{
	width:150px; cursor:pointer;}

#contact{
	padding:0 0 30px 0;
	}


/* @search 
********************************************************************************************
********************************************************************************************/
.searchformhead {
	float: left;
	position:relative;
	margin:10px 0 0 2px;
	width: 16%;
	width:98%;
	overflow:hidden;
	border:1px solid #ddd;
}
 
.searchform {
	position: relative;
	float: left;
	width:100%;
	margin:0 0 0 25px;}
 
.searchformhead input.s {
	float: right;
	margin: 0;
	color:#ddd;
	padding:8px 12px;
	line-height:1;
	float:left;
	font-style:bold !important;
	font-size:12px !important;
	width: 95%;
	border:none;
	}
 
.searchSubmit {
	background: url(../images/icons/search-submit-inv.png) 2px 4px no-repeat;
	position: absolute;
	height: 24px;
	width: 24px;
	border: none;
	cursor: pointer;
	margin:0;
	overflow:hidden;
	top: 5px;
	right:1px; }
	
	
.searchform input.s {
	padding:12px 4.5%;
	margin:0 0 20px 0;
	color:#999;
	font-style:normal;
	width:90%;
	
	
	border: 1px solid #d9d9d9;
	box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.03);
	-webkit-box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.03);
	-moz-box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.03);
	-o-box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.03);
  }
 
.searchform .searchSubmit {
	height: 24px;
	top: 8px;
	right:11px; }

/* @sidebar 
********************************************************************************************
********************************************************************************************/


#sidebar p {margin:0; padding:0 0 15px 0;}


#sidebar h3 {font-size:10pt;
	}	
	
#sidebar a:hover {
	text-decoration:none;
	}	

	
#sidebar>ul,
#sidebar>div>ul{
	list-style:none;
	float:none;
	overflow:hidden;
	width:100%;
	margin-bottom:30px;
	}

	
#sidebar select{
	margin:5px 0 30px 0;
	width:100%;
	font-size:100% !important;
	clear:both;
	float:none;
	}
	
#sidebar .searchform{
	margin:0 0 10px 0;
	float:none;
	clear:both;
	overflow:hidden;
}

li.recentcomments,
cite{ padding:0 0 10px 0;}

a.rsswidget{ padding:5px 0 0 0;}

	
#sidebar>ul>li.cat-item{}




/* @custom widgets 
********************************************************************************************
********************************************************************************************/


.tagcloud { margin-bottom: 30px; }
 
ul.lists{ list-style:none; overflow:hidden; margin:0; width:106%}

#footer ul.lists{ margin-top:0;}

ul.lists li ul, ul.lists li ul li{ margin:0 0 0 0 !important;padding:0 0 0 0 !important; width:100%; background:none;}

.lists a{}

.lists a:hover{}

.lists li{ 
	background:url(../images/bull.png) 0 4px no-repeat;
	padding:0 10px 0 26px; 
	margin:0 3% 0 0; 
	float:left;
	width:31%;
	list-style:none;
	} 


ul.ad125{padding:0 0 0 0 !important; overflow:hidden; width:107% !important; margin:15px 0 5px 0 !important;}
ul.ad125 li{ float:left; margin:0 18px 18px 0; padding:0; overflow:hidden; background:none !important;}
ul.ad125 li img{ float:left; margin:0; padding:0; overflow:hidden}


img.ad300{margin:0 0 20px 0;background:url(../images/transparent-light.png);}

img.adFree{ padding:0; margin:0 0 0 0; float:left; overflow:hidden}

.ad125_fix {
	clear: both;
	margin: 0;
	height: 12px;
	overflow: hidden;
	float: left; }
 

.widget_fix {
	clear: both;
	height:1px;
	overflow: hidden;
	float: none }

 
/* twitter  */
.lasttwit {
	padding:0 !important;
	position: relative;
	margin: 0 0 25px 0;
	overflow:hidden;
}

.lasttwit h2{
	border-top:none !important;
	padding-top:0;
}
 
a.twilink {
	position: absolute;
	bottom: -25px;
	right: 0;
	font-weight: bold; }
	

ul.tweet_list { margin:0 0 10px 0 !important; }
 
ul.tweet_list li{
	margin: 0 0 20px 0;
	padding: 0 0 0 65px !important;
	}
	
ul.tweet_list li img {
	float: left;
	margin: 8px 0 10px -65px;
	padding: 0 !important; }
 
.view-twitter {
	padding: 0;
	font-size: 7pt;
	clear: both; }


.tweet_avatar {  }
 
 
/* flickr */
#sidebar h2 span.flickr,#footer h3 span.flickr,h2.widget span.flickr{ color: #0061D8; font-style:normal; }
 
#sidebar h2 span span,#footer h3 span span,#archives h2 span span,h2.widget span span { color: #FF1183;font-size:12px; }
 
.flickwrap {
	position: relative;
	padding:0;
	overflow: hidden;
	width: 120%;
	margin:0 0 10px 0; }
 
	.flickwrap img {
		float: left;
		margin:0 !important;
		padding: 0 !important;
		width:62px; }
 
 .flickr_badge_image{
		float: left;
		margin: 0 15px 15px 0!important;
		padding: 0 !important; }
 
.flickwrap a:hover img { background:#ccc; }
 


 
/* Blog Author Widget */
img.avatar {  }
 
span.left {
	float: left;
	margin: 8px 15px 5px 0; }
 
span.right {
	float: right;
	margin: 8px 0 5px 15px; }
 
/* featured */
ul.featured {
	margin: 0 0 30px 0 !important;
	overflow: hidden;
	float: left; }

 
.fblock {
	border-top:1px solid #ddd;
	margin: 0 0 0 0 !important;
	padding-top:20px;
	padding-bottom:10px;
	overflow:hidden; }
 
.fblock:first-child{
	border-top: none;
	padding-top:0;
}
 
 
.fblock img {
	margin:0 15px 10px 0;
	padding:0;
	overflow:hidden;
	float:left; }

.fblock h3 {
	margin:0 0 5px 0;
	padding:0 0 5px 0;
	background:url(../images/line-h-l.png) bottom repeat-x !important;
}

.serchwidget{ overflow:hidden;margin-bottom:25px;}


/* comments widget */

.com_post{
	overflow:hidden;
	padding:15px 0 !important;
	background:url(../images/line-h-l.png) top repeat-x;
}

.com_post:first-child{
	padding:0 0 15px 0 !important;
	background: none;
}

.com_post img{ float:left; margin:8px 20px 5px 0;}

.com_post span{ float:left; margin-right:7px; font-style: normal}

.com_post p{ padding:0 0 0 55px !important;}



/* folio widget */

ul.widget-folio{ width:110% !important; overflow:hidden;}

ul.widget-folio li{overflow:hidden; float:left; margin:0 25px 25px 0; padding:0;
	background: url(../images/icons/zoom.png) 50% 47% no-repeat; width:76px; height:68px}
	
	ul.widget-folio li img{ width:auto;}

/* @tabs
********************************************************************************************
********************************************************************************************/
#hometab {
	float: left;
	width:100%;
	margin: 0 0 0 0;
	overflow: hidden;
	position: relative;
	}
 
ul#serinfo-nav {
	position:relative;
	z-index: 6;
	margin:0 !important;
	background:url(../images/transparent-light.png)}
 
ul#serinfo-nav>li {
	padding:5px 0 6px 0;
	font-size:90%;
	float: left;
	margin-right: 0;
	width: 26.5%;
	text-align: center;
	text-shadow: none;
	cursor: pointer;
	background-image:none !important;
	}

	ul#serinfo-nav li a { color: #999; }

	ul#serinfo-nav li a:hover {  }
 
#serinfo-nav li.current {
	color: #fff !important;
	position:relative;
	z-index: 6;
	border-bottom:none;
	overflow:hidden; }
	
#serinfo-nav li.current a{
	color: #fff;}
 
li#serpane0,
li#serpane1,
li#serpane2,
li#serpane4,
li#serpane5
	{
	margin: 0 0 -16px 0;
	padding:0; }

li#serpane3
	{
	padding: 30px 0 20px 0; }
 
ul#serinfo {
	position: relative;
	z-index: 5;
	float: left;
	padding: 0 0 0 0;
	overflow: hidden;
	margin-top:-1px;
	}
 
.tab-post {
	height: 60px;
	overflow:hidden;
	background:url(../images/line-h-l.png) bottom repeat-x;
	margin:0 0 0 0;
	padding:20px 0;
	line-height: 18px;}
 
.tab-post img {
	padding:0;
	margin: 0px 12px 10px 0 !important;
	float: left;}

.tab-post a.tab-title {
	letter-spacing: 0;
	padding: 0;
	margin:5px 0 5px 0 !important;
	font-size: 14px !important }
	
.tab-post .meta{
	line-height:1 !important; margin-top:8px !important; }	

#serinfo-nav li.current{ background-color:#ddd}




/* @list
********************************************************************************************
********************************************************************************************/

.postlist{
	border-top:1px solid #ddd;
	margin:-1px 0 0 0;
	padding:20px 0 0 0;
}


.list-post {
	height: 33px;
	overflow:hidden;
	background:url(../images/line-h-l.png) top repeat-x;
	margin:0 0 10px 0;
	padding:14px 0 0 0;
	line-height:1.4;
	font-size:11px;
}
 
	
.list-post a {
	opacity:.9;
	overflow:hidden;
	font-weight:bold;
}
	
.list-post a:hover {
	opacity:1;
}

.specfifthcol ul { width:108%; overflow:hidden; margin:0 0 25px 0;}

.specfifthcol_last ul{overflow:hidden; margin:0 0 25px 0;}

.specfifthcol .list-post { width:43.5%; float:left; margin-right:6%}




/* @footer
********************************************************************************************
********************************************************************************************/
#footer {
	width: 100%;
	margin: 0 auto 0 auto;
	padding:10px 0;
	overflow:hidden;
	position:relative;
	text-shadow:none;
	z-index:3;
	background-image:url(../images/line-h.png);
	background-position:top;
	background-repeat:repeat-x;
	}
 
#copyright {
	font-size: 8pt; overflow:hidden; opacity:.7 
	padding-left: 3px !important;
}
 
#copyright p {
	margin: 0;
	padding: 0 0; }
	
	
/* @clients
********************************************************************************************
********************************************************************************************/

#clientsbox{overflow:hidden; margin:40px -40px 20px -40px; padding:1px 0 0 0; }

#clientsbox li{overflow:hidden; float: left;margin:0 0 0 0; width:20%; height:140px;}

#clientsbox li:first-child{}

#clientsbox li img{ overflow:hidden; float:none; margin:0 auto; display:block;}

	
/* @services
********************************************************************************************
********************************************************************************************/

#services-wrap{overflow:hidden; margin:40px 0 -20px 0; padding:0;}

#servicesbox{ width:107%; overflow:hidden; padding:15px 0 0 1px;}

#servicesbox li{float: left; border-top:5px solid #ddd; padding:50px 30px 15px 30px; margin:45px 4% 35px 0;  width:22.6%; position:relative;
	text-align:center;}

.services h3{
	padding:60px 0 12px 0;
	margin:0 0 13px 0;
	height:24px;
	position:relative;
	text-transform:uppercase;
	letter-spacing: -0.03em;
	transition: all 300ms linear;
}

.services h3 i{
	position:absolute;
	top:-110px;
	left:47px;
	font-size:50px;
	font-weight:normal;
	transition: all 300ms linear;
	background:#fff;
	width:140px;
	height:40px;
	line-height:.9 !important;
	text-align:center;
	padding:49px 0;
	-moz-border-radius: 50%;-khtml-border-radius: 50%;-webkit-border-radius: 50%;border-radius: 50%;
	
	
	-moz-box-shadow:  0 1px 10px rgba(0, 0, 0, 0.3);
	-webkit-box-shadow:  0 1px 10px rgba(0, 0, 0, 0.3);
	box-shadow:  0 1px 10px rgba(0, 0, 0, 0.3);
}

.services h3 p{
	transition: all 300ms linear;
}


#servicesbox li{
    display: block;
    -webkit-transition: all 300ms linear;
    -moz-transition: all 300ms linear;
    -o-transition: all 300ms linear;
    -ms-transition: all 300ms linear;
    transition: all 300ms linear;
}
#servicesbox li:last-child{
}


#servicesbox h3 i{
    -webkit-transition: all 300ms linear;
    -moz-transition: all 300ms linear;
    -o-transition: all 300ms linear;
    -ms-transition: all 300ms linear;
    transition: all 300ms linear;
}
#servicesbox li h3{
    -webkit-transition: all 300ms linear;
    -moz-transition: all 300ms linear;
    -o-transition: all 300ms linear;
    -ms-transition: all 300ms linear;
    transition: all 300ms linear;
}
#servicesbox li p{
    -webkit-transition: all 300ms linear;
    -moz-transition: all 300ms linear;
    -o-transition: all 300ms linear;
    -ms-transition: all 300ms linear;
    transition: all 300ms linear;
}
#servicesbox li:hover h3 i{
    font-size:45px;
    color: #259add;
    text-shadow: 0px 0px 13px #fff;
	top:-95px;
	left:62px;
	padding:35px 0 35px 0;
	width:110px;
}
#servicesbox li h3{
    opacity: 1;
    -webkit-animation: moveFromTop 300ms ease-in-out;
    -moz-animation: moveFromTop 300ms ease-in-out;
    -ms-animation: moveFromTop 300ms ease-in-out;
}
#servicesbox li p{
    opacity: 1;
    -webkit-animation: moveFromBottom 300ms ease-in-out;
    -moz-animation: moveFromBottom 300ms ease-in-out;
    -ms-animation: moveFromBottom 300ms ease-in-out;
}

	
/* @staff
********************************************************************************************
********************************************************************************************/

#staff-wrap{overflow:hidden; margin:30px 0 0 0; padding:0;}

.warpbox{ width:107%; overflow:hidden;}

li.staff{float: left;padding:0; position:relative;text-align:center; overflow:hidden;}
	
li.staff img{float: left; margin:0 0 15px 0;}

li.staff p{ margin:3px 0 5px 0;}

ul.staff_social{ overflow:hidden; text-align:center; display:inline-block;}

ul.staff_social li{ width:28px; height:28px; float:left; margin:8px 2px; padding:1px; display: inline; line-height:1; }

ul.staff_social li a{ width:18px; height:22px; float:left;margin:0; padding:5px 4px 0 4px; background-color:#f5f5f5; display: inline;}


/* @pricing tabs
********************************************************************************************
********************************************************************************************/

.pricing-wrap{
	overflow:hidden;
	width:100%;
	margin:20px 0 30px 0;
	float:left;
}

.pricing_main{
	overflow:hidden;
	float:none;
	margin:0 0 0 0;
	width:100.5%;
	padding:7px 0;
	font-family:Arial, Helvetica, sans-serif !important;
}

li.pricing{
	padding:0;
	margin:20px 0 20px -1px;
	float:left;
	text-align:center !important;
	border:1px solid #ddd;
	position:relative;
	overflow:hidden;
}

li.pricing:first-child{-moz-border-radius:6px 0 0 6px;-khtml-border-radius:6px 0 0 6px;-webkit-border-radius:6px 0 0 6px;border-radius: 6px 0 0 6px;}

li.pricing:last-child{-moz-border-radius:0 6px 6px 0;-khtml-border-radius:0 6px 6px 0;-webkit-border-radius:0 6px 6px 0;border-radius:0 6px 6px 0;}

li.main{
	margin:0 0 0 -1px;
	-moz-box-shadow:  0 0 10px rgba(0, 0, 0, 0.2);
	-webkit-box-shadow:  0 0 10px rgba(0, 0, 0, 0.2);
	box-shadow:  0 0 10px rgba(0, 0, 0, 0.2);
	z-index:1;
}

li.pricing:first-child{
	margin-left:0;
}

li.pricing ul li{ padding:8px 0; margin:0 35px; border-top:1px dotted #eee;}

li.pricing ul li:first-child{border-top:none;}

li.pricing h2{
	background:#ddd;
	padding:15px 0 !important;
	margin:0 !important;
	font-size:20px;
	border-bottom:1px solid #ddd;
	font-weight:bold;
}

li.main h2{
	background:#000;
	color:#fff;
	padding:26px 1px 25px 1px !important;
	margin:-1px -1px 0 -1px;
	border-bottom:none;
}


li.main{
	border-color:#ccc;
}

.plan-head{ background:#f9f9f9; padding:20px 0 15px 0; border-bottom:1px solid #eee;}

.plan-price{ font-size:25pt; font-weight:bold; letter-spacing:-2px; line-height:1;}

.plan-bottom{ background:#f9f9f9; padding:15px 0;}

li.main .plan-bottom{padding:35px 0;}

.plan-bottom{ background:#f9f9f9; padding:25px 0; border-top:1px solid #eee;}

.plan-bottom a{ font-weight:bold; padding:8px 15px; background:#000; color:#fff !important; font-size:14px; opacity:.9}

li.main .plan-bottom a{padding:13px 22px; opacity:1}

.plan-bottom a:hover,
li.main .plan-bottom a:hover{}

li.pricing_three{
	width:33%;
}


li.pricing_four{
	width:24.7%;
}


	
/* @images
********************************************************************************************
********************************************************************************************/

img.aligncenter {
	display: block;
	margin-left: auto;
	margin-right: auto;
	float: none;
	}

img.alignright {
	margin: 4px 1px 10px 20px !important;
	display: inline;
	float: right;
	}

img.alignleft {
	margin: 4px 20px 10px 1px !important;
	display: inline;
	float: left;
	}

.alignright {
	float: right;
	margin-left:15px;
	}

.alignleft {
	float: left;
	margin-right:15px;
	}

.aligncenter {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.alignleft {
	float: left;
}

.alignright {
	float: right;
}
	
.wp-caption {
   text-align: center;
   padding-top: 10px;
   margin-bottom:10px;
}

.wp-caption img {
   margin: 0;
   padding: 0;
   border: 0 none;
}

.wp-caption p.wp-caption-text {
   font-size: 11px;
   padding: 0 5px 0 5px;
   margin:5px 0 0 0;
}

img.wp-smiley {
    background: transparent;
    border: none;
    margin: 0;
    padding: 0;
}


.bags,
#map iframe,
.wp-caption {
	
	padding:3px;
	-moz-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
	-webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
	box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
	-o-linear-gradient(#2F2727, #1a82f7);

    background: 
	-moz-linear-gradient(center top , #FFFFFF, #EFEFEF) repeat scroll 0 0 transparent;
	background: -webkit-gradient(linear, left top, left bottom,
				from(#fff),
				color-stop(0.5, #fff),
				to(#EFEFEF)
				);
	filter: progid: DXImageTransform.Microsoft.Gradient(StartColorStr='#ffffffff', EndColorStr='#EFEFEFEF');
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#ffffffff, endColorstr=#EFEFEFEF)";
	-o-linear-gradient(top, #dcdcdc, #c6c6c6);

    border: 1px solid #FFFFFF;
	
	-moz-border-radius: 3px;-khtml-border-radius: 3px;-webkit-border-radius: 3px;border-radius:3px;
	}
	
	
	
/* @social
********************************************************************************************
********************************************************************************************/


ul.social-menu {
	position: relative;
	overflow: hidden;
	padding: 0;
	margin:20px 0 30px 0 !important;
	float:none;
}
 
ul.social-menu li {
	display: inline;
	list-style-type: none;
	position: relative;
	line-height:1;
	float: left;
	width:34px !important;
	height:34px !important;
	margin: 0 10px 8px 0 !important;
	padding:0 0 0 0;
	overflow: hidden;
	background:url(../images/transparent-light.png);
	text-align:center;
	-moz-transition: opacity 0.3s ease-in;
	-webkit-transition: opacity 0.3s ease-in; 
	-o-transition: opacity 0.3s ease-in;
	-moz-border-radius: 2px;-khtml-border-radius: 2px;-webkit-border-radius: 2px;border-radius: 2px;
}

	
ul.social-menu li:hover {
	opacity:1;
	-moz-transition: opacity 0.3s ease-in;
	-webkit-transition: opacity 0.3s ease-in; 
	-o-transition: opacity 0.3s ease-in;
}

ul.social-menu li a{
	margin: 0 0 0 0 !important;
	font-size:18px;
	width:34px !important;
	text-align:center;
	padding:8px 0;
	float:left;
}


/* @flex slider
********************************************************************************************
********************************************************************************************/


.flex-container a:active,
.flexslider a:active {outline: none;}
.slides,
.flex-control-nav,
.flex-direction-nav {margin: 0; padding: 0; list-style: none;} 


.flexslider {width: 100%; margin:0; padding:0;}
.flexslider .slides > li {display: none; } /* Hide the slides before the JS is loaded. Avoids image jumping */
.flexslider .slides img {max-width: 100%; display: block; margin-bottom:0}
.flexslider .slides iframe {width: 100%; display: block;margin-bottom:0}
.flex-pauseplay span {text-transform: capitalize;}


.slides:after {content: "."; display: block; clear: both; visibility: hidden; line-height: 0; height: 0;} 
html[xmlns] .slides {display: block;} 
* html .slides {height: 1%;}

.no-js .slides > li:first-child {display: block;}

.flexslider {position: relative; zoom: 1;}
.flexslider .slides {zoom: 1;}
.flexslider .slides > li {position: relative;overflow:hidden; margin:0;/*-webkit-backface-visibility: hidden;*/}
.flex-container {zoom: 1; position: relative;}


.flex-direction-nav{ height:0;}
.flex-direction-nav li a {width: 40px; height: 75px;display: block; position: absolute; top:46%;cursor: pointer; text-indent: -9999px; z-index:999; background-repeat:no-repeat;}
.flex-direction-nav li .flex-next {right:0px;background-image:url(../images/icons/nav_right_t.png); background-position:7px 25px; text-indent:-9999em}
.flex-direction-nav li .flex-prev {left:0px;background-image:url(../images/icons/nav_left_t.png); background-position:7px 25px; text-indent:-9999em}

.flex-direction-nav li .flex-next:hover {opacity: .6;}
.flex-direction-nav li .flex-prev:hover {opacity: .6;}
.flex-direction-nav li .disabled {opacity: .3; filter:alpha(opacity=30); cursor: default;}


.flex-control-nav { position: absolute;  right:40px }
.flex-control-nav li {margin:0 0 0 5px; display: inline-block; zoom: 1; *display: inline;}
.flex-control-nav li:first-child {margin: 0;}
.flex-control-nav li a {width: 16px; height: 20px; display: block; background:url(../images/icons/bullets-inv.png) no-repeat 0 0; cursor: pointer; text-indent: -9999px;opacity:1}
.flex-control-nav li a.flex-active {background-position:0 -18px; cursor: default; opacity:.7}




/* custom skins - widget */
.widgetflexslider{margin:0 0 30px 0;}
.widgetflexslider ul li{ padding:0 20px;}
.widgetflexslider ul.slides{ padding-bottom:0px;}
.widgetflexslider>ol.flex-control-nav { position: absolute;top: -50px;  right:0px; }
.widgetflexslider h3{ overflow:hidden; height:40px;line-height:1.5}
.widgetflexslider .flex-control-nav{ display:none;}

.widgetflexslider .flex-direction-nav li a {width: 36px; height: 85px; top:105px; }
.widgetflexslider .flex-direction-nav li .flex-next { position:absolute; right:-50px;background-position:5px 30px;}
.widgetflexslider .flex-direction-nav li .flex-prev {position:absolute;  left:-50px;background-position:5px 30px;}




/* custom skins - homepage */
.mainflex_holder{ display:block; height:auto !important; min-height:100%; overflow:hidden; z-index:0;}
.mainflex_wrap{top:0; left:0; width:100%; height:100%; overflow:hidden; z-index:0;}
.mainflex{ position:absolute; top:0; left:0; width:100%; height:100%; overflow:hidden; z-index:0;}
.flex-viewport,
.mainflex ul{  height:100% !important;}
.mainflex ul.slides>li{ position:relative; height:100%; background:#333;}
.mainflex ul.slides>li>a>img{
  width: 100%;
	}
.mainflex .flex-direction-nav{}
.mainflex .flex-control-nav { top:70px; right:40px;}
.mainflex .flex-control-nav li a {background:url(../images/icons/bullets-inv.png)}
.mainflex .flex-control-nav li a.flex-active {background-position:0 -18px;}
.slider_full iframe{height:95%; margin-top:3%;}
.slider_full img{
  min-width: 1400px;
	
  width: 100%;
  height: auto;
  z-index:0;
	
  position: fixed;
  top:-5%;
  left: 0;}


.stuff{position: absolute; left:0; bottom:0; width:100%; padding:0 0;}
.stuff span.slidebg{ position: absolute; left:33%; bottom:0; width:100%; height:100%; background:#4DC8E3; opacity:.8; z-index:0}

.stuff .flexhead{position: absolute; left:36%; top:25px; overflow:hidden;}
.stuff h2{text-transform:uppercase; font-size:16px;margin:0 0 5px 0; }
.stuff p{ margin:0 0 0 0; line-height:24px;color:#fff !important; width:55%; font-size:18px; letter-spacing:-0.03em}
.flexhead p{ font-size:14px !important; line-height:1.6 !important;}
.stuff a{color:#fff !important;}


.free_content{ position: absolute; top:28%; left:0; width:100%}

.free_content .container{ overflow:visible;}

.free_slider iframe{height:93.5%; margin-top:3.5%;}

.free_content h1,
.free_content h2{ margin:0 0; padding:0 0;text-shadow: 1px 1px 0 #000000; line-height:1 !important;}

.free_content h3{ font-size:24px !important; line-height:1.1 !important;}

.free_content p{ color:#fff; margin:5px 0; font-size:20px; font-weight:bold; text-shadow:1px 1px 0 #000;}

/* custom skins - single/gallery */

.singleslider{ max-height: 550px; margin:0 0 0 0;}
.singleslider .flex-direction-nav li a {top:40%;}
.singleslider>ol.flex-control-nav {top: 30px;  left:30px; }



.featuredflex{ margin:0 0 30px 0;}
.featuredflex .flex-control-nav { bottom:15px; left:25px; display:none; visibility:hidden;}
.featuredflex .flex-direction-nav li a {width: 40px; height: 75px; top:41%;}
.featuredflex .flex-direction-nav li .flex-next {left:63%;background:url(../images/icons/bg-next.png) no-repeat 0 0;background-position:7px 25px; }
.featuredflex .flex-direction-nav li .flex-prev {left:10px;background:url(../images/icons/bg-prev.png) no-repeat 0 0;background-position:7px 25px; }


.folioslider .flex-direction-nav li a {top:42%;}

/* @homefolio
********************************************************************************************
********************************************************************************************/

.loop{ overflow:hidden; width:105%;}
	
.item_full{
	overflow:hidden;
	position:relative;
	background:#fff;
	padding:0;
	border:1px solid #ddd;
	/*-webkit-backface-visibility: hidden;*/
	}

.item_carousel{
	overflow:hidden;
	position:relative;
	background:#fff;
	padding:0;
	margin-left:-1px;
	/*text-align:center;*/
	}
	
.item_height1{height:510px;}	

.item_height2{height:300px;}	

.item_height3{height:150px;}

.item_height4{height:375px;}

.item_height4 p{ font-size:95%;}
	
.imgwrap{ position:relative; float:left; overflow:hidden;}
.imgwrap img{ position:relative; z-index:1;}

.cats,.cats2,.cats3{ position:absolute; top:44%; padding:6px 0;left:15%;width:70%; text-align:center; color:#fff !important; z-index:0; border-bottom:1px solid #fff;border-top:1px solid #fff;}
.cats a,.cats a:hover,
.cats2 a,.cats2 a:hover,
.cats3 a,.cats3 a:hover{color:#fff !important;}

.cats2{top:28%;}

.cats3{top:38%; height:23px; overflow:hidden; font-size:11px}

a.hoverstuff-link,
a.hoverstuff-zoom{ position:absolute; bottom:1px; left:1px; color:#fff !important; padding:4px 0; z-index:9; opacity:0; width:49.5%; text-align:center;}

a.hoverstuff-link{ left:auto;right:1px;}

.item_full h3{
	margin:25px 25px 10px 25px;
	line-height:1.2em;
	overflow: hidden;
	padding:0;
	}
	

.item_full p{
	margin:0 25px;
	line-height:1.8;
	}

.item_full img{
	float:left;
	}
	
.item_blog .imgwrap{
	float:left;
	margin:0 20px 0 0;
	}
	
.item_blog h3{
	margin:20px 20px 10px 25px;
	line-height:1.1em;
	font-size:13px;
	}
	
.item_blog p{
	font-size:12px;
	line-height:1.6;
	opacity:.7
	}
	
.item_slider{
	background:#fff;
	float:left;
	width:100%;
	}
	
.item_slider img{
	float:left;
	margin:1px 40px 1px 1px !important;
	overflow:hidden;
	}
	
.item_slider h2{
	margin:45px 0 10px 0 !important;
	padding:0 0 25px 0;
	width:24%;
	float:left;
	letter-spacing:-2px !important;
	line-height:.8 !important;
	font-size:35px !important;
	border-bottom:1px solid #000;
	}
	
.item_slider p{
	margin:10px 0 0 0;
	padding:0 0 0 0;
	width:24%;
	float:left;
	}
.item_slider a.hoverstuff-link{
	width:317px;
	}	
	

/* @homeblog
********************************************************************************************
********************************************************************************************/

ul.infolio li.item_blog{
	width:66.666%;
	overflow: hidden;
	padding:5px 0 0 0;
	margin:0 0 20px 0;
	}

.item_blog h2{
	margin:0 0 12px 0;
	font-size:14px;
	line-height:1.5em;
	overflow: hidden;
	padding:0;
	}

.item_blog .metaitem{
	margin-right:3px;
	}


/* @tooltips
********************************************************************************************
********************************************************************************************/	

div.tooltip {
	display:none;
	position:absolute;
	text-align:center;
	line-height:normal;
	z-index:100000;
	opacity:1;
	filter:alpha(opacity = 95);
	background:#222;
	color:#eee;
}

div.tooltip p {
	padding:6px 6px 6px 6px;
	font-size:10px !important;
	line-height:1.4 !important;
	border-radius:2px;	
	-moz-border-radius:2px;
	-webkit-border-radius:2px;
	text-shadow:none;
	max-width:150px;
	font-weight:bold;
	text-transform:capitalize;
}
	


/* @other
********************************************************************************************
********************************************************************************************/

.tagcloud{ padding:0 0 25px 0 !important; overflow:hidden;}

.tagcloud,#serpane3{ width:105%;}

.tagcloud a,#serpane3 a{ float:left; font-size:10px !important; padding:0px 5px; border:1px solid rgba(0, 0, 0, 0.1); margin:0 8px 8px 0;}

#sidebar ul li.cat-item,
#sidebar ul li.page_item{
	padding:0 0 5px 0;
	margin:0 0 0 0;
	list-style: square;
	list-style-position: inside;
}

/* calendar widget */
.widget_calendar {float: left;}
#wp-calendar {width: 100%; margin:0 0 40px 0;}
#wp-calendar caption { text-align: left; color: #333; font-size: 10px; text-transform: uppercase; padding-bottom:5px; margin-bottom: 5px;background:url(../images/line-h-l.png) bottom repeat-x; }
#wp-calendar thead { font-size: 10px; }
#wp-calendar thead th { padding-bottom: 10px; }
#wp-calendar tbody { color: #aaa; }
#wp-calendar tbody td { background: #f5f5f5; border: 1px solid #fff; text-align: center; padding:0;}
#wp-calendar tbody td:hover { background: #fff; }
#wp-calendar tbody .pad { background: none; }
#wp-calendar tfoot #next { font-size: 10px; text-transform: uppercase; text-align: right; }
#wp-calendar tfoot #prev { font-size: 10px; text-transform: uppercase; padding-top: 10px; }

select#cat{ float:none; margin:0 0 25px 0;}

.sticky{}

#archives{ padding:20px 0 0 0;}

h2.archives-small{
	font-size:16pt;
	line-height:22pt;
	/*background:url(images/divider15.png) bottom repeat-x;
	text-align:center;
	padding-bottom:12px;
	margin-bottom:10px;*/}


::selection {
        background:#10AFCC; 
		color:#fff;
        }
::-moz-selection {
        background:#10AFCC;
		color:#fff;
}




.scrollTo_top {
position:fixed;
bottom:50px;
right:30px;
opacity:.4;
}

.scrollTo_top img{
	float:left;
}

.scrollTo_top a{
	float:left;
}

#navigation .scrollTo_top {
	position:absolute;
	top:0;
	left:0;
	display: block;
	z-index:9999;
	bottom: auto;
	right:auto;
	opacity:1;
	padding:0;
	margin:0;
	border-bottom:none;
	width:60px;
	overflow:hidden;
	height:60px;
	text-align:center;
}

.errorentry{ width:104%;}

.errorentry .sixcol{ padding:5px 30px !important; width:41% !important;}

ul.error{ margin-bottom:25px; }

ul.error>li{ float:none !important; width:100%;} 


/* @themebuttons & pagination
********************************************************************************************
********************************************************************************************/

a.more-link {
	display: none;
	visiblity:hidden;
}

a.read-more {
	display: block;
	visibility:visible;
}

a.mainbutton,#submit,#comments .navigation a,.tagssingle a,.contact-form .submit,.wpcf7-submit,a.comment-reply-link{
	margin:4px;
	line-height:1;
	font-size:11px;
	font-weight:bold;
	padding:7px 10px;
	color:#fff !important;
	background: #f5f5f5;
	border:none !important;
	text-shadow:none;
	font-family:Arial, Helvetica, sans-serif !important;
	
	-moz-border-radius: 2px;-khtml-border-radius: 2px;-webkit-border-radius: 2px;border-radius: 2px;
	
	 cursor:pointer;
	}

a.mainbutton:hover,#submit:hover,#comments .navigation a:hover,.tagssingle a:hover,.contact-form .submit:hover,.plan-bottom a:hover,.wpcf7-submit:hover,a.comment-reply-link:hover{
	color:#fff !important;
	background: #353535 !important;
	}	



.pagination{height:30px; margin:0 0 25px 0; float:none; padding:5px 0; overflow:hidden;}

a.page-numbers  {background:url(../images/transparent-light.png); padding:6px 10px;font-family:Arial, Helvetica, sans-serif; margin:0 8px -1px 0; text-shadow:none;-moz-border-radius: 2px;-khtml-border-radius: 2px;-webkit-border-radius: 2px;border-radius: 2px;}
.page-numbers.current {font-weight:bold;padding:6px 10px;margin:0 8px -1px 0; color:#fff; text-shadow:none;-moz-border-radius: 2px;-khtml-border-radius: 2px;-webkit-border-radius: 2px;border-radius: 2px;}
.page-numbers { font-size: 12px; line-height:.5 }
.dots { letter-spacing: 1px;margin:0 15px -1px 0; }


.wp-pagenavi a,
.wp-pagenavi span{ border:none !important; padding:3px 10px 3px 0 !important; margin:0 10px 0 0 !important;} 


.wp-pagenavi span.pages{ display:none;}


span.ribbon
{
	background:#900;
	z-index:8;
	position:absolute;
	top:-100px;
	left:-100px;
	width:140px;
	height:140px;
	overflow:hidden;
	transform:rotate(-46deg);
	-ms-transform:rotate(-46deg); 
	-moz-transform:rotate(-45deg); 
	-webkit-transform:rotate(-46deg); 
	-o-transform:rotate(-46deg); 
}

span.ribbon_icon
{
	color:#fff;
	position:absolute;
	text-transform:uppercase;
	font-size:14px;
	line-height:1;
	top:5px;
	left:4px;
	width:17px;
	height:15px;
	overflow:hidden;
	z-index:9;
}

.ribbon_icon i.icon-play-circle{ padding-left:0 !important;}



/* @wp gallery 
********************************************************************************************
********************************************************************************************/

.attachment  .headimg{ display:none; visibility:hidden;}

.wp-smiley {
	margin:0;
}
.gallery {
	margin:0 auto 30px auto;
	width:100%;
}



.gallery .gallery-item {
	float: left;
	margin:0 1px 1px 0 !important;
	text-align: center;
	width:auto !important;
	height:auto;
	overflow:hidden;
	background:#000 url(../images/icons/zoom.png) 50% 50% no-repeat !important;
}

.entryfull .gallery .gallery-item{ max-width:149px;}

.gallery img {
	border:none !important;
	float:left;
}

.gallery a {
	overflow:hidden;
	float:left;
}

.gallery .gallery-caption {
	margin-left: 0;
}
.gallery dl {
	margin: 0;
}
.gallery-caption {
	color: #888;
	font-size: 12px;
	margin:-24px 0 24px 0;
}
.gallery br+br,
.gallery-caption {
	display: none;
}



/* @plugins
********************************************************************************************
********************************************************************************************/
.wpcf7-form p{ width:100%; overflow:hidden; clear:both; margin:0 0 10px 0; font-size:11px; font-style:italic;}

.wpcf7-form p img{ float:left;}

.wpcf7-form p input,
.wpcf7-form p textarea{ width:89%; font-size:12px !important; font-style:normal; padding:5px 5% margin:5px 0; overflow:hidden; clear:both; float:none;}

.wpcf7-form p textarea{ height:120px;}

.wpcf7-submit.wpcf7-submit{ font-weight:bold; width:70px !important; padding:8px !important; margin:0 0 0 0 !important;}

.wpcf7-form p img{ float:left;}

input.wpcf7-captchar{ width:65px !important; margin-top:5px;}

span.wpcf7-not-valid-tip{ position:relative !important; margin-top:5px;}

/* @speciable
********************************************************************************************
********************************************************************************************/

.upper .item_full h3,
.upper .item_carousel h3,
.upper li.staff h3,
.upper .scroll li a,
.upper .navi li a,
.upper .section h2,
.upper .section_template h2,
.upper h2.itemtitle,
.upper .section h4
{ text-transform: uppercase !important; letter-spacing:-0.025em}

.admin-bar #header{ top:32px;}