{% extends "base.html" %}
{% load cms_tags %}

{% block title %}{% page_attribute 'title' %}{% endblock title %}

{% block contenido %}
   <div id="interna"> <!-- InstanceBeginEditable name="contenido_segmentado" -->
      <div class="informativa">
        <div id="contenedorInformacion">
 {% placeholder noticias %}




      </div></div>
      <!-- InstanceEndEditable --> </div>

{% endblock contenido %}
