/* Móviles en vertical 480px
   ------------------------------------------------------------------------- */
@media (max-width: 480px){

/* ----------- Del overbox --------- */
.boton-historico {
    color: #FFF;
    font-weight: bold;
    background: #69D738 none repeat scroll 0% 0%;
    box-shadow: 0px 1px 0px #D4D8DA inset, -2px 3px 0px #2E9B2B;
    position: fixed;
    top: 19%;
    left: 29%;
}

    .rb-week > div {
        width: 100%;
        height: 17%;
    }

    .rb-week span {
        display: inline;
        padding: 15% 0px;
        padding: 0px;
    }

  .span-columna-icon {
      margin-top: 3%;
  }

    .rb-week > div {
        width: 100%;
        height: 17%;
    }

    .span-columna span {
        font-size: 1em !important;
        display: inline;
        padding-left: 21px;
    }

    .rb-grid li > div {text-align: left;}

    /*Primer Hijo*/
    .rb-week > div:first-child {width: 30%;}


    .rb-grid li:nth-child(1) .rb-week > div:nth-child(1) {
        width: 100%;
        height: 35%;
        text-align: center;
        padding-bottom: 24%;
    }


    /* Segundo Hijo */
    .rb-grid li:nth-child(2) .rb-week > div:nth-child(1) {
        width: 100%;
        height: 32%;
        text-align: center;
    }


    /* Tercer Hijo */
    .rb-grid li:nth-child(3) .rb-week > div:nth-child(1) {
        width: 100%;
        height: 32%;
        text-align: center;
    }
    /* Cuarto Hijo */
    .rb-grid li:nth-child(4) .rb-week > div:nth-child(1) {
        width: 100%;
        height: 32%;
        text-align: center;
    }
    /* Quinto Hijo */
    .rb-grid li:nth-child(5) .rb-week > div:nth-child(1) {
        width: 100%;
        height: 32%;
        text-align: center;
    }
    /* Sexto Hijo */
    .rb-grid li:nth-child(6) .rb-week > div:nth-child(1) {
        width: 100%;
        height: 32%;
        text-align: center;
    }
    /* Septimo Hijo */
    .rb-grid li:nth-child(7) .rb-week > div:nth-child(1) {
        width: 100%;
        height: 32%;
        text-align: center;
    }
    /* Octavo Hijo */
    .rb-grid li:nth-child(8) .rb-week > div:nth-child(1) {
        width: 100%;
        height: 32%;
        text-align: center;
    }
    /* Noveno Hijo */
    .rb-grid li:nth-child(9) .rb-week > div:nth-child(1) {
        width: 100%;
        height: 32%;
        text-align: center;
    }
    /* Decimo Hijo */
    .rb-grid li:nth-child(10) .rb-week > div:nth-child(1) {
        width: 100%;
        height: 32%;
        text-align: center;
    }
    /* Onceavo Hijo */
    .rb-grid li:nth-child(11) .rb-week > div:nth-child(1) {
        width: 100%;
        height: 32%;
        text-align: center;
    }

/*---------------------------------------*/
.span-columna-footer {
    float: right;
    right: -190px;
    top: 39%;
}

.span-overbox-header {
    font-size: 1.5em !important;
    display: block !important;
}

.span-overbox-icon {
    font-size: 16em !important;
    margin-left: -15%;
    position: absolute;
    top: 17%;
    opacity: 0.5;
}

.span-overbox-footer {
    font-size: 1.8em !important;
    opacity: 0.6;
    margin-left: 2%;
    display: block !important;
    margin-top: 6%;
      opacity: 0.6;
}

/*-------------  Del historial ------------  */



/* ----------- Efecto de perspectiva --------- */
.effect-rotatetop.animate .contenedor {
    transform: translateZ(-1445px) translateY(-73%) rotateX(-72deg);
}

.outer-nav.horizontal {
    left: 50%;
}

.effect-rotatetop .outer-nav.horizontal {
    width: 100%;
    bottom: auto;
    top:24%;
}


.outer-nav.horizontal, .outer-nav.vertical {
    font-size: 1.2em;
    width: 80%;
    /*border: 1px solid #000;*/
}



.modalview .contenedor {
    background: #6696C5;
}


.icono-timeline {
    margin-top: 22%;
    font-size: 1.3em;
}


/*:::::::::::::::::::::::::::::::::::::*/



/* Styles specific to this particular page */
.scroll-pane{
  width: 100% !important;
}

.jspContainer{

  /*background: blue;*/
  width: 100% !important;
}

.cd-container {
    width: 122%;
    max-width: 1170px;
    margin: 0px auto;
    padding: 5px;
    margin-left: 1px;
}

.cd-timeline-content {
    margin-left: 3.5rem;
}



.cd-timeline-content .cd-date {
    float: left;
    padding: 0.8em 70px;
}


.tabla-historico {
    width: 100%;
    font-size: 0.75em;
    overflow-x: auto;
		display: block;
}

/* Banner */


#logo_gigant{
display: none;
}




/*

.cd-timeline-block {
    position: relative;
    margin: 2em 0px;
    width: 299px;
}


*/





}/* max-width: 480px */
