/* Móviles en horizontal o tablets en vertical
   ------------------------------------------------------------------------- */
@media (min-width: 481px) and (max-width: 767px) {



/* Styles specific to this particular page */
.scroll-pane{
  width: 100% !important;
}

.jspContainer{

  /*background: blue;*/
  width: 100% !important;
}



/* ::::: Estilos Generales */

  .bigmenu .scroll, .bigmenu .navi {

      padding: 0px 0px 10px;
      right: auto;
      left: 2%;
      float: left;
      top: 27px;
  }

/* ::::: Estilos del overbox */

/* Primer hijo del overbox*/
.rb-week > div:first-child {
    width: 44%;
}

.rb-close{
    color: #ccc;
}


.rb-week > div {
    width: 12%;

    padding-bottom: 13%;
}

.span-overbox-icon {
    font-size: 16em !important;
    margin-left: 31%;
    position: absolute;
    top: 52%;
    opacity: 0.5;
}



.icono-timeline {
    margin-top: 24%;
    font-size: 1.3em;
}

.boton-historico {
    color: #FFF;
    font-weight: bold;
    background: #69D738 none repeat scroll 0% 0%;
    box-shadow: 0px 1px 0px #D4D8DA inset, -2px 3px 0px #2E9B2B;
    position: fixed;
    top: 56%;
    left: 13%;
}



.outer-nav.horizontal, .outer-nav.vertical {
    font-size: 1.2em;
    width: 74%;

}

.effect-moveleft.animate .contenedor {
    transform: translateX(-63%) rotateY(45deg) translateZ(-50px);
}


/* Banner */


#logo_gigant{
display: none;
}

/*



.rb-week > div:first-child {
    width: 37%;
    padding-bottom: 12%;
    font-size: 83%;
    padding-top: 6%;
}

.span-overbox-icon {
    display: none;
}

.rb-close{
    color: #ccc;
}

.span-overbox-header {
    font-size: 2em !important;
}

}

*/

/*


@media all and (min-device-width : 640px){

.rb-week > div:first-child {
    width: 37%;
}

.span-overbox-icon {
    display: none;
}

.rb-close{
    color: #ccc;
}

.span-overbox-header {
    font-size: 2em !important;
}


}



*/
}